*.pdf
*.csv
*.dat
*.Rhistory
*.Rdata
*.tif
*.pem
*.ppk
AWS/IPs.txt
*.zip
*.gz
Algorithms/Page Rank/Wiki-Vote.txt
Algorithms/Similar Items/data/
Algorithms/Similar Items/titles/
AWS/S3_Bucket/demo.R
Algorithms/Spatial Analysis/ghcndms.kmz
*.ini
Algorithms/Spatial Analysis/SpatialAnalysis.html
*.png
*.rda
*.prcp
*.dbf
*.kml
*.shp
*.shx
Colaberry/
*.txt
*.ftp
*.DS_Store
AWS/Hadoop_AWS_SingleNode.docx
